body{
  background: #282c34;
  color: #282c34;
}
.container{
  max-width: 500px;
  margin: 0 auto;
  padding: 0 15px;
}
.cards{
  max-width: 445px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



table{
  font-family: Arial, sans-serif;
  font-size: 14px;
  border-collapse: collapse;
  text-align: center;
}
td{
  padding: 10px 20px;
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
  background: #D8E6F3;
}
td:first-child{
  text-align: left;
  background: #AFCDE7;
}

.credits{
  max-width: 400px;
}
.credits .table-credits{
  margin: 0 auto;
  padding: 0 15px;
}

.credits li{
  display: inline-block;
  width: 33.333%;
  color: #61dafb;
  text-align: center;
}
.btn-draw{
  width: 100px;
}
button{
  text-transform: uppercase;
  font-weight: bolder;
  height: 50px;
  width: 80px;
  margin: 0 20px;
  background: #61dafb;
  border: none;
  outline: none;
  color: #282c34;
}
button:hover{
  background: #282c34;
  color: #61dafb;
  border: 1px solid #61dafb;
}


